.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

.login > .MuiButton-root{
    background-color: hsla(100, 50%, 70%, 0.9);
    padding: 5px 20px;
}